:root {
    --highlight: #F1AD1D;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    background-image: url(../assets/img/body__bg.jpg);
    background-repeat: repeat;
}

p {
    font-family: 'Lato', 'Open Sans', sans-serif;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}


.highlight {
    color: var(--highlight);
}

header {
    background-image: url(../assets/img/header__bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

header .container {
    height: 100vh;
    position: relative;
}

.header-info {
    position: absolute;
    left: 0;
    bottom: 145px;
}

.header-info__logo {
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
}

.header-info__logo-description {
    display: block;
    margin-top: 16px;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    text-transform: none;
}

.header-info__header {
    margin-top: 28px;
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 40px 37px 37px 25px;
    background-color: rgba(0,0,0,.3);
    border: 1px solid #fff;
}

 /* SECTION  */     

 .section-header {
    position: relative;
    text-align: center;
    width: fit-content;
    margin: 69px auto 100px;
}

 .section-header::after {
    content: " ";
    display: block;
    position: absolute;
    bottom: -50px;
    left: calc(50% - 30px);
    width: 60px;
    height: 3px;
    background-color: var(--highlight);
 }

 .section-header__header {
    color: #333333;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
 }

.section-header__description {
    margin-top: 35px;
    color: #4d4943;
    font-family: Lato;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
 }

 .award__logo {
    display: block;
    margin: 0 auto;
 }

  /* NAVIGATION  */

.navigation {
    margin: 100px auto 0;
}

.clearfix:after {
    content: " ";
    display: block;
    clear: both;
}

nav {
    padding: 20px 0;
    border-bottom: 2px solid var(--highlight)
}

.navigation__logo {
    color: var(--highlight);
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    float: left;
}

.navigation__tabs {
    float: right;
}

.navigation__item {
    float: left;
    margin-right: 70px;
    color: #3d3d3d;
    font-family: Lato;
    font-size: 18px;
    text-transform: uppercase;
}


.navigation__item:last-child {
    margin-right: 10px;
}

.award__logo--small {
    font-size: 0.75rem;
}

 /* ABOUT-US  */

 .about-us__pictures {
    width: 50%;
    float: left;
 }

.about-us__picture {
    position: relative;
    width: 270px;
    height: 148px;
}

.picture__text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 117px;
    height: 42px;
    padding: 16px 20px 16px 16px;
    background-color: #333333;
    color: #fff;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 12px;
}

.picture_1 {
    background: url(../assets/img/about-us__1.png) no-repeat;
    float: left;
    margin-bottom: 20px;
}
.picture_2 {
    background: url(../assets/img/about-us__2.png) no-repeat;
    float: right;
    margin-bottom: 20px;
}
.picture_3 {
    background: url(../assets/img/about-us__3.png) no-repeat;
    float: left;
}
.picture_4 {
    background: url(../assets/img/about-us__4.png) no-repeat;
    float: right;
}

.about-us__description {
    width: 50%;
    float: right;
    padding-left: 30px;
}

.description__header {
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    color: #333333;
}

.description__text {
    margin-top: 25px;
    margin-bottom: 30px;
    color: #505050;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

.btn {
    color: #ffffff;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    line-height: 12px;
    padding: 20px 28px;
    background-color: var(--highlight);
    text-decoration: none;
}

    /* SPEED */

.speed {
    height: 380px;
    background: url(../assets/img/speed.png);
    /* background-size: 100% 100%; */
    background-position: cover;
    border-top: 1px solid transparent;
    margin-top: 80px;
}

.speed .section-header__header {
    line-height: 100%;
    vertical-align: middle;
    margin-top: 150px;
    color: #fff;
}


/* TEAM MEMBERS */


.team__member {
    position: relative;
    width: 193px;
    height: 178px;
    float: left;
    margin: 1px;
}

.team__member-1 {
    background-image: url(../assets/img/person__1.png);
}
.team__member-2 {
    background-image: url(../assets/img/person__2.png);
}
.team__member-3 {
    background-image: url(../assets/img/person__3.png);
}
.team__member-4 {
    background-image: url(../assets/img/person__4.png);
}
.team__member-5 {
    background-image: url(../assets/img/person__5.png);
}
.team__member-6 {
    background-image: url(../assets/img/person__6.png);
}
.team__member-7 {
    background-image: url(../assets/img/person__7.png);
}
.team__member-8 {
    background-image: url(../assets/img/person__8.png);
}
.team__member-9 {
    background-image: url(../assets/img/person__9.png);
}
.team__member-10 {
    background-image: url(../assets/img/person__10.png);
}
.team__member-11 {
    background-image: url(../assets/img/person__11.png);
}
.team__member-12 {
    background-image: url(../assets/img/person__12.png);
}

.team__member__name {
    position: absolute;
    left: 15px;
    bottom: 15px;
    padding: 15px;
    width: 136px;
    height: 42px;

    color: #ffffff;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 12px;
    background-color: #333;
}


/* WE DO */

.we-do-box {
    width: 271px;
}

.we-do-box__header {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    color: #ffffff;
    padding: 22px 0 16px;
    background-color: #333;
}


/* FEEDBACK */

.feedbacks .section-header {
    margin-top: 150px;
}

.feedbacks-box__item {
    width: 370px;
    display: inline-block;
    margin: 50px auto;
}

.feedbacks-box__item:first-child {
    margin-right: 20px;
}

.feedbacks-box__item:last-child {
    margin-left: 20px;
}

.item__text {
    position: relative;
    padding: 30px 0;
    border-top: 3px solid var(--highlight);
    
    /* position: absolute; */
    color: #5b5b5b;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}
.item__text::before {
    content: ' ';
    display: inline-block;
    position: absolute;
    top: -50px;
    width: 70px;
    height: 70px;
    /* padding: 20px 20px 20px 0; */
    background-color: #fff;
    background-image: url(../assets/img/quotes.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.item__user {
    position: relative;
    padding: 30px 0 30px 70px;
    color: #313131;
    font-family: Lato;
    font-size: 14px;
    line-height: 20px;
    border-top: 3px solid #111111;
}

.user__job {
    color: #5b5b5b;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}

.item__user::before {
    content: ' ';
    position: absolute;
    top: 25px;
    left: 0;
    display: block;
    width: 56px;
    height: 44px;
}

.user--1::before {
    background-image: url(../assets/img/user--1.png);
}

.user--2::before {
    background-image: url(../assets/img/user--2.png);
}

.user--3::before {
    background-image: url(../assets/img/user--3.png);
}


/* BRANDS */

.brands__logos {
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
}

/* WORK  */

.work__nav {
    text-align: center;
    border: none;
}

.work__nav-bar li {
    /* width: 100%; */
    display: inline-block;
}

.nav-bar__item {
    margin-right: 15px;
    padding: 15px 40px;
    border: 1px solid #111111;
    color: #111111;
    text-decoration: none;

    color: #111111;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
}

.selected {
    background-color: #333333;
    color: var(--highlight)
}

/* work items  */

.work__items {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.work__item {
    width: 281px;
    height: 271px;
    background-color: #f3f;
    margin: 5px;
}

.work__item--1 {
    background-image: url(../assets/img/work__1.png);
}

.work__item--2 {
    background-image: url(../assets/img/work__2.png);
}

.work__item--3 {
    background-image: url(../assets/img/work__3.png);
}

.work__item--4 {
    background-image: url(../assets/img/work__4.png);
}

.work__item--5 {
    background-image: url(../assets/img/work__5.png);
}

.work__item--6 {
    background-image: url(../assets/img/work__6.png);
}

.work__item--7 {
    background-image: url(../assets/img/work__7.png);
}

.work__item--8 {
    background-image: url(../assets/img/work__8.png);
}

.work__item--9 {
    background-image: url(../assets/img/work__9.png);
}

.work__item--10 {
    background-image: url(../assets/img/work__10.png);
}

.work__item--11 {
    background-image: url(../assets/img/work__11.png);
}

.work__item--12 {
    background-image: url(../assets/img/work__12.jpg);
}

.card {
    opacity: 0;
}

.work__item:hover .card {
    opacity: 1;
}

.work__item:hover {
    background-color: #f3f3f3;
    background-image: none;
    padding: 49px 27px 26px;
    text-align: center;
    border: 2px solid #111111;
}

.item__header {
    position: relative;
    color: #111111;
    font-family: Lato;
    font-size: 18px;
    font-weight: 300;
}

.item__header::after {
    content: " ";
    display: block;
    position: absolute;
    bottom: -30px;
    left: calc(50% - 30px);
    width: 60px;
    height: 3px;
    background-color: var(--highlight);
}

.item__description {
    margin-top: 60px;
    color: #5b5b5b;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
}

.work__btn {
    display: block;
    margin: 0 auto;
    margin-top: 27px;
    width: 141px;
    height: 39px;    
    border: none;
    line-height: 39px;
    background-color: var(--highlight);
    
    color: #ffffff;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
}
